ex3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="ex3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> ABHISHEK </xs:fname>
	<xs:lname> . </xs:lname>
	<xs:mname> A </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 8-112/B </xs:houseno>
	<xs:streetname>GOLDSMITH ROAD </xs:streetname>
	<xs:cityname> MULKI </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 85 </xs:marks>
   <xs:hobbies> Dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> ACHAL </xs:fname>
	<xs:lname> .</xs:lname>
	<xs:mname> A </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 8-112/A </xs:houseno>
	<xs:streetname> GOLDSMITH ROAD </xs:streetname>
	<xs:cityname> MULKI </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 95 </xs:marks>
   <xs:hobbies> Singing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>